# Virtual environment
venv/
.venv/

# Byte-compiled / optimized / test coverage files
__pycache__/
*.pyc
*.pyd
*.egg

# Editor backup files
*~

# Package distribution and uploads
dist/
.egg-info/

# Operating System files
.DS_Store
Thumbs.db