annotated-types==0.7.0 ; python_version >= "3.12"
anyio==4.12.0 ; python_version >= "3.12"
attrs==25.4.0 ; python_version >= "3.12"
backoff==1.11.1 ; python_version >= "3.14"
backoff==2.2.1 ; python_version >= "3.12" and python_version < "3.14"
bcrypt==5.0.0 ; python_version >= "3.12"
build==1.3.0 ; python_version >= "3.12"
cachetools==6.2.2 ; python_version >= "3.12"
certifi==2025.11.12 ; python_version >= "3.12"
cffi==2.0.0 ; python_version >= "3.12" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.12"
chromadb==1.3.6 ; python_version >= "3.12"
click==8.3.1 ; python_version >= "3.12"
colorama==0.4.6 ; (platform_system == "Windows" or os_name == "nt" or sys_platform == "win32") and python_version >= "3.12"
coloredlogs==15.0.1 ; python_version >= "3.12"
cryptography==46.0.3 ; python_version >= "3.12"
distro==1.9.0 ; python_version >= "3.12"
dnspython==2.8.0 ; python_version >= "3.12"
docstring-parser==0.17.0 ; python_version >= "3.12"
durationpy==0.10 ; python_version >= "3.12"
email-validator==2.3.0 ; python_version >= "3.12"
et-xmlfile==2.0.0 ; python_version >= "3.12"
fastapi-cli==0.0.16 ; python_version >= "3.12"
fastapi==0.111.1 ; python_version >= "3.12"
filelock==3.20.0 ; python_version >= "3.12"
flatbuffers==25.9.23 ; python_version >= "3.12"
fsspec==2025.12.0 ; python_version >= "3.12"
google-ai-generativelanguage==0.6.15 ; python_version >= "3.12"
google-api-core==2.25.2 ; python_version >= "3.14"
google-api-core==2.28.1 ; python_version >= "3.12" and python_version < "3.14"
google-api-python-client==2.187.0 ; python_version >= "3.12"
google-auth-httplib2==0.2.1 ; python_version >= "3.12"
google-auth==2.43.0 ; python_version >= "3.12"
google-cloud-aiplatform==1.71.1 ; python_version >= "3.12"
google-cloud-bigquery==3.38.0 ; python_version >= "3.12"
google-cloud-core==2.5.0 ; python_version >= "3.12"
google-cloud-resource-manager==1.15.0 ; python_version >= "3.12"
google-cloud-storage==2.19.0 ; python_version >= "3.12"
google-crc32c==1.7.1 ; python_version >= "3.12"
google-genai==1.55.0 ; python_version >= "3.12"
google-generativeai==0.8.5 ; python_version >= "3.12"
google-resumable-media==2.8.0 ; python_version >= "3.12"
googleapis-common-protos==1.72.0 ; python_version >= "3.12"
grpc-google-iam-v1==0.14.3 ; python_version >= "3.12"
grpcio-status==1.71.2 ; python_version >= "3.12"
grpcio==1.76.0 ; python_version >= "3.12"
gunicorn==23.0.0 ; python_version >= "3.12"
h11==0.16.0 ; python_version >= "3.12"
hf-xet==1.2.0 ; python_version >= "3.12" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore==1.0.9 ; python_version >= "3.12"
httplib2==0.31.0 ; python_version >= "3.12"
httptools==0.7.1 ; python_version >= "3.12"
httpx==0.28.1 ; python_version >= "3.12"
huggingface-hub==1.2.3 ; python_version >= "3.12"
humanfriendly==10.0 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
importlib-metadata==8.7.0 ; python_version >= "3.12"
importlib-resources==6.5.2 ; python_version >= "3.12"
jinja2==3.1.6 ; python_version >= "3.12"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12"
jsonschema==4.25.1 ; python_version >= "3.12"
kubernetes==33.1.0 ; python_version >= "3.12"
lxml==6.0.2 ; python_version >= "3.12"
markdown-it-py==4.0.0 ; python_version >= "3.12"
markupsafe==3.0.3 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
mmh3==5.2.0 ; python_version >= "3.12"
mpmath==1.3.0 ; python_version >= "3.12"
numpy==2.3.5 ; python_version >= "3.12"
oauthlib==3.3.1 ; python_version >= "3.12"
onnxruntime==1.23.2 ; python_version >= "3.12"
openpyxl==3.1.5 ; python_version >= "3.12"
opentelemetry-api==1.39.1 ; python_version >= "3.12"
opentelemetry-exporter-otlp-proto-common==1.39.1 ; python_version >= "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.39.1 ; python_version >= "3.12"
opentelemetry-proto==1.39.1 ; python_version >= "3.12"
opentelemetry-sdk==1.39.1 ; python_version >= "3.12"
opentelemetry-semantic-conventions==0.60b1 ; python_version >= "3.12"
orjson==3.11.5 ; python_version >= "3.12"
overrides==7.7.0 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pandas==2.3.3 ; python_version >= "3.12"
passlib==1.7.4 ; python_version >= "3.12"
pdf2image==1.17.0 ; python_version >= "3.12"
pillow==12.0.0 ; python_version >= "3.12"
posthog==5.4.0 ; python_version >= "3.12"
proto-plus==1.26.1 ; python_version >= "3.12"
protobuf==5.29.5 ; python_version >= "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
pybase64==1.4.3 ; python_version >= "3.12"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.12"
pydantic-core==2.41.5 ; python_version >= "3.12"
pydantic==2.12.5 ; python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
pyjwt==2.10.1 ; python_version >= "3.12"
pymongo==4.15.5 ; python_version >= "3.12"
pyparsing==3.2.5 ; python_version >= "3.12"
pypdf==3.17.4 ; python_version >= "3.12"
pypika==0.48.9 ; python_version >= "3.12"
pyproject-hooks==1.2.0 ; python_version >= "3.12"
pyreadline3==3.5.4 ; python_version >= "3.12" and sys_platform == "win32"
pytesseract==0.3.13 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-docx==0.8.11 ; python_version >= "3.12"
python-dotenv==1.2.1 ; python_version >= "3.12"
python-multipart==0.0.21 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
pyyaml==6.0.3 ; python_version >= "3.12"
referencing==0.37.0 ; python_version >= "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.12"
requests==2.32.5 ; python_version >= "3.12"
rich-toolkit==0.17.0 ; python_version >= "3.12"
rich==14.2.0 ; python_version >= "3.12"
rpds-py==0.30.0 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.14"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "3.14"
shapely==2.1.2 ; python_version >= "3.12"
shellingham==1.5.4 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sniffio==1.3.1 ; python_version >= "3.12"
starlette==0.37.2 ; python_version >= "3.12"
sympy==1.14.0 ; python_version >= "3.12"
tenacity==9.1.2 ; python_version >= "3.12"
tokenizers==0.22.1 ; python_version >= "3.12"
tqdm==4.67.1 ; python_version >= "3.12"
typer-slim==0.20.0 ; python_version >= "3.12"
typer==0.20.0 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
typing-inspection==0.4.2 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
uritemplate==4.2.0 ; python_version >= "3.12"
urllib3==2.6.1 ; python_version >= "3.12"
uvicorn==0.38.0 ; python_version >= "3.12"
uvloop==0.22.1 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.12"
vertexai==1.71.1 ; python_version >= "3.12"
watchfiles==1.1.1 ; python_version >= "3.12"
websocket-client==1.9.0 ; python_version >= "3.12"
websockets==15.0.1 ; python_version >= "3.12"
zipp==3.23.0 ; python_version >= "3.12"
